<h1>Add a product</h1>
	<%= form_tag 'product' do %>
	<!--name description price:decimal-->
	<div>


	<h1>hello</h1>
<%= form_tag 'employee' do %>
  <div>
    <%= label_tag :firstname %>
    <%= text_field_tag :firstname %>

    <%= label_tag :lastname %>
    <%= text_field_tag :lastname %>

    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= submit_tag 'Save Employee record' %>
  </div>

<% end %>